@use './colors';
@use './comonents';
@use './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	
}

//.NAV

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	z-index: 20;
	cursor: pointer;

	&:focus {
		outline: none;
		border: 1px solid rgb(199, 193, 193);
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include mixins.burgerBtn;
	}

	&__bars {
		width: 100%;

		&::before {
			top: 13px;
			width: 60%;
		}

		&::after {
			top: 27px;
			width: 30%;
			transition-delay: .2s;
		}
	}
}
